.webs-custom-schema.green{
  border-color:green;
}
.webs-custom-schema.red{
  border-color:red;
}
.webs-custom-schema-error.green{
  color:green;
}
.webs-custom-schema-error.red{
  color:red;
}
.websitescanner-custom-schema-icon{
  display: inline-block;
width: 12px;
height: 12px;
margin: 3px 10px 0 3px;
border-radius: 50%;
background: #888;
line-height: 16px;
vertical-align:top;
}
.websitescanner-custom-schema-icon.is-schema{
  background-color: #7ad03a;
}
.column-websitescanner_custom_schema_column{
  text-align:center;
}
.column-websitescanner_custom_schema_column{
  width:110px;
}
